{% spaceless %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">

        {% block head %}
            <title>{% block title %}{% endblock %} | Front-end Developer & Javascript Engineer</title>
        {% endblock %}

        {% block css %}

        {% endblock %}

    </head>
    <body>

        {% block content %}

        {% endblock %}

        {% block javascript %}

        {% endblock %}

    </body>
</html>

{% endspaceless %}