.about {
    background: #00bdbd;
    color: #fff;

    .container {

        .info {

            .text {
                width: 64%;
                display: inline-block;
                vertical-align: middle;
                margin-right: 8%;

                h4 {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    padding-bottom: 0.5rem;
                    font-weight: 300;
                    margin: 0;
                }

                h5 {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    padding-bottom: 0.5rem;
                    font-weight: 300;
                    margin: 0;
                }

                p {
                    font-size: 0.9rem;
                    line-height: 1.3rem;
                    font-weight: 300;
                    padding-bottom: 1rem;
                    margin: 0;
                }

                a {
                    font-size: 1rem;
                    font-weight: 700;
                    background: #474d5d;
                    padding: 1rem 1.5px;
                    display: inline-block;
                    color: #fff;
                }

            }

            .image {
                width: 27%;
                display: inline-block;
                vertical-align: middle;

                img {
                    width: 100%;
                    border-radius: 50%;
                    max-width: 230px;
                }

            }

        }

    }

    @media (max-width: 1024px) {
        .container {
            .info {
                .text {
                    width: 60%;
                    margin-right: 10%;
                }
                .image {
                    width: 27%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            h3 {
                margin-bottom: 7%;
            }

            .info {
                .text {
                    width: 100%;
                    margin-bottom: 7%;
                    margin-right: 0;
                }
                .image {
                    width: 100%;
                    text-align: center;
                    img {
                        width: 60%;
                        max-width: 280px;
                    }
                }
            }
        }
    }

    @media (max-width: 560px) {
        .container {

            .info {
                .text {
                    h4 {
                        font-size: 1.2rem;
                    }
                    h5 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

}