{% spaceless %}

<section id="about" class="about">

    <div class="container">

        <h2>Sobre mi</h2>
        <h3>Una pequeña introducción sobre mi</h3>

        <div class="info">
            <div class="text">
                <h4>Hola, soy Raúl</h4>
                <h5>Apasionado de la informática y las nuevas tecnologías.</h5>
                <p>Diseñador de aplicaciones informáticas. Expecializado en el diseño y desarrollo de aplicaciones
                    profesionales para cualquier plataforma, particularmente interesado en proyectos innovadores y que
                    potencien mis capacidades como ingeniero informático.</p>
                <p>Expecializado en Ingeniería del Software, para la gestión control y análisis de proyectos.</p>
                {#<a target="_blank" href="docs/cv-2015-04.pdf">Descargar CV</a>#}
            </div>

            <div class="image">
                <img src="img/me.jpg" alt="">
            </div>
        </div>

    </div>

</section>

{% endspaceless %}