{% spaceless %}

<section id="portfolio" class="portfolio">

    <div class="container">

        <h2>Blog</h2>
        <h3>Algunos artículos interesantes</h3>

        <div>
            articulos

            {#http://www.queness.com/post/14577/create-a-simple-responsive-portfolio-page-with-filtering-and-hover-effect#}
        </div>

    </div>

</section>

{% endspaceless %}