{% spaceless %}

<section id="education" class="education">

    <div class="container">

        <h2>Educación y cursos</h2>
        <h3>Lo que he hecho en mi carrera académica</h3>

        <div class="info">
            <div class="career">
                <div class="year">2010 - 2014</div>
                <div class="description">
                    <div>
                        <h4>Grado en Ingeniería Informática, especialidad en Ingeniería del Software.</h4>
                        <h5>Universidad de Jaén.</h5>
                        <p>Mención en Tratamiento Inteligente de la Información.</p>
                        <p>Matrícula de Honor en desarrollo de aplicaciones web, desarrollo de aplicaciones
                            empresariales y gestión de proyectos software.</p>
                    </div>
                </div>
            </div>
            <div class="courses">
                <div class="description">
                    <div>
                        <h4>Cursos efectuados de forma independiente.</h4>
                        <ul>
                            <li>Curso profesional de node.js y javascript (Platzi.</li>
                            <li>Profesional de Frontend (Mejorando.la).</li>
                            <li>M101P: MongoDB for Developers (MongoDB University).</li>
                            <li>Profesional de Git y GitHub (Mejorando.la).</li>
                            <li>Agilidad y Lean. Gestionando los proyectos y negocios del s. XXI (Universidad Rey Juan Carlos).</li>
                            <li>Profesional de PHP y Laravel (Mejorando.la).</li>
                            <li>Desarrollo en HTML5, CSS y Javascript de WebApps y móviles FirefoxOS (Universidad Politecnica de Madrid).</li>
                            <li>Diseño web (Mejorando.la).</li>
                            <li>Android (Universidad Politécnica de Valencia).</li>
                            <li>Potencia tu mente (Universidad de Cantabria).</li>
                            <li>Habilidades y competencias a través del coaching personal (Universidad de Cantabria).</li>
                            <li>Cloud Computing (Actívate, EOI, Google).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

{% endspaceless %}