{% spaceless %}

<section id="experience" class="experience">

    <div class="container">

        <h2>Experiencia Laboral</h2>
        <h3>Mis puestos anteriores</h3>

        <div class="info">
            <div class="job">
                <div class="year">
                    <div>
                        <span class="prev">Actualidad</span>
                    </div>
                    <div>
                        <span class="after">Noviembre 2014</span>
                    </div>
                </div>
                <div class="description">
                    <div>
                        <h4>JavaScript Engineer & Front-end Developer en Zeendo.com</h4>
                        <h5>Onbile S.L.</h5>
                        <p>Desarrollo front-end del proyecto Zeendo.com utilizando JavaScipt MV* con Backbone, junto a otros
                            patrones de diseño, conectado a un backend en PHP con Symfony. Uso de HTML5, CSS3 y LESS.</p>
                    </div>
                </div>
            </div>

            <div class="job">
                <div class="year">
                    <div>
                        <span class="prev">Noviembre 2014</span>
                    </div>
                    <div>
                        <span class="after">Julio 2014</span>
                    </div>
                </div>
                <div class="description">
                    <div>
                        <h4>Software Developer</h4>
                        <h5>QueryDay S.L.</h5>
                        <p>Desarrollador Python con Django, HTML5 y Javascript.</p>
                    </div>
                </div>
            </div>

            <div class="job">
                <div class="year">
                    <div>
                        <span class="prev">Julio 2014</span>
                    </div>
                    <div>
                        <span class="after">Enero 2014</span>
                    </div>
                </div>
                <div class="description">
                    <div>
                        <h4>Unidad de Servicios en Tecnologías de la Información y la Comunicación</h4>
                        <h5>Universidad de Jaén</h5>
                        <p>Plataforma de Docencia Virtual, Servicio de Informática, SeTIC, Google APPs.</p>
                    </div>
                </div>
            </div>

            <div class="job">
                <div class="year">
                    <div>
                        <span class="prev">Julio 2013</span>
                    </div>
                    <div>
                        <span class="after">Junio 2013</span>
                    </div>
                </div>
                <div class="description">
                    <div>
                        <h4>Programador</h4>
                        <h5>Enordis S.L.U.</h5>
                        <p>Internacionalización (localización) en ASP del proyecto Puedo Viajar.</p>
                    </div>
                </div>
            </div>

            <div class="job">
                <div class="description">
                    <div>
                        <h5>Trabajo de forma independiente</h5>
                        <p>Diseñador / Desarrollador de software de escritorio y aplicaciones web.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

{% endspaceless %}