{% spaceless %}

<section id="portfolio" class="portfolio">

    <div class="container">

        <h2>Portfolio</h2>
        <h3>Muestra de mis últimos trabajos</h3>

        <div class="projects">

            <div id="filters" class="filters">
                <ul>
                    <li><span class="filter active" data-filter="all">Todos</span></li>
                    <li><span class="filter" data-filter=".project">Projectos</span></li>
                    <li><span class="filter" data-filter=".labs">Labs</span></li>
                    <li><span class="filter" data-filter=".gist">Gist</span></li>
                </ul>
            </div>

            <div id="project-list" class="project-list">

                <div class="project-item mix project">
                    <div class="project-wrapper">
                        <img src="http://themesquared.com/flato/wp-content/uploads/2014/08/thu-8.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bird Document</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>

                <div class="project-item mix labs">
                    <div class="project-wrapper">
                        <img src="http://themesquared.com/flato/wp-content/uploads/2014/08/thu-7.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bird Document</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>

                <div class="project-item mix labs">
                    <div class="project-wrapper">
                        <img src="http://themesquared.com/flato/wp-content/uploads/2014/08/thu-6.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bird Document</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>

                <div class="project-item mix gist">
                    <div class="project-wrapper">
                        <img src="http://themesquared.com/flato/wp-content/uploads/2014/08/thu-5.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bird Document</a>
                                <span class="text-category">Logo</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</section>

{% endspaceless %}