{% spaceless %}

<section id="skills" class="skills">

    <div class="container">

        <h2>Habilidades Técnicas</h2>
        <h3>Puedo decir que soy bueno en</h3>

        <div>
            tecnologías
        </div>

    </div>

</section>

{% endspaceless %}