{% spaceless %}

<footer>
    <div class="footer">
        <div class="container">
            <ul>
                <li><a href="http://facebook.com/raulmoyareyes" title="facebook" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="http://linkedin.com/in/raulmoyareyes" title="linkedin" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                <li><a href="http://github.com/raulmoyareyes" title="github" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                <li><a href="http://twitter.com/raulmoyareyes" title="twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="http://google.com/+raulmoyareyes" title="google+" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

{% endspaceless %}