{% spaceless %}

<header>

    <div class="container">
        <div class="title">
            <h1>raúl<span>moya</span></h1>
            <h2>Frontend Manager & Javascript Engineer</h2>
        </div>
    </div>

</header>

<nav>
    <div class="bt-menu-mobile">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </div>

    <ul id="menu" class="menu">
        <li class="active"><a href="#">Home</a></li>
        <li class=""><a href="#about">Sobre mi</a></li>
        {#<li class=""><a href="#skills">Habilidades</a></li>#}
        <li class=""><a href="#experience">Experiencia</a></li>
        <li class=""><a href="#education">Educación</a></li>
        {#<li class=""><a href="#portfolio">Portfolio</a></li>#}
        <li class=""><a href="#contact">Contacto</a></li>
        <li class=""><a href="//blog.raulmoya.es">Blog</a></li>
    </ul>

</nav>

{% endspaceless %}