{% spaceless %}

<header>

    <div class="container">
        <div class="title">
            <h1>Raúl Moya</h1>
            <h2>Javascript Engineer & Front-end Developer</h2>
        </div>
    </div>

</header>

<nav>
    <ul id="menu" class="menu">
        <li class="active"><a href="#">Home</a></li>
        <li class=""><a href="#about">Sobre mi</a></li>
        {#<li class=""><a href="#skills">Habilidades</a></li>#}
        <li class=""><a href="#experience">Experiencia</a></li>
        <li class=""><a href="#education">Educación</a></li>
        {#<li class=""><a href="#portfolio">Portfolio</a></li>#}
        <li class=""><a href="#contact">Contacto</a></li>
    </ul>
</nav>

{% endspaceless %}