header {
    padding: 0;
    margin: 0;
    height: 280px;
    background-image: url('../img/bg-header-blue.png');
    color: #fff;
    overflow: hidden;
    display: table;
    width: 100%;

    .container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0;

        .title {

            h1 {
                font-size: 5rem;
                line-height: 0;
                font-weight: 100;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 100;
            }

        }

    }

    @media (max-width: 48em) {
        height: 220px;

        .container {

            .title {

                h1 {
                    font-size: 3rem;
                }

                h2 {
                    font-size: 1rem;
                }
            }
        }

    }
}

nav {
    margin-top: 0;
    position: relative;
    z-index: 15;
    background: #262b37;

    .menu {
        margin: 0 auto;
        text-align: center;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            padding: 1.4rem 0;

            a {
                color: #c3c8d6;
                padding: 0 1.2rem;
                line-height: 1rem;
                text-align: center;

                &:hover {
                    color: #fff;
                }

            }

            &.active {
                background: #1b1f29;
                color: #c3c8d6;
            }

        }

    }

    .bt-menu-mobile {
        display: none;
    }

    @media (max-width: 48em) {
        height: 66px;

        .menu {
            position: relative;
            width: 200px;
            margin: 0 0 0 -200px;
            display: none;

            li {
                width: 200px;
                background: #262b37;
                display: block;
                padding: 0.8rem;
                box-shadow: #000 0 0 1px 0;
            }
        }

        .bt-menu-mobile {
            cursor: pointer;
            width: 30px;
            position: relative;
            height: 21px;
            display: block;
            top: 23px;
            left: 20px;

            span {
                background-color: #ffffff;
                display: block;
                height: 2px;
                position: absolute;
                width: 100%;

                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;

                &.top {
                    top: 0;
                }

                &.middle {
                    top: 50%;
                    margin-top: -2px;
                }
                &.bottom {
                    top: 100%;
                    margin-top: -2px;
                }
            }
        }

        &.open {

            .menu {
                display: inline-block;
                margin: 0;
                top: 44px;
            }
            .bt-menu-mobile {

                span {
                    &.top {
                        margin: -2px 0 0 -3px;
                        top: 50%;
                        width: 120%;

                        -moz-transform: rotate(-40deg);
                        -webkit-transform: rotate(-40deg);
                        -o-transform: rotate(-40deg);
                        -ms-transform: rotate(-40deg);;
                    }
                    &.middle {
                        opacity: 0;
                    }
                    &.bottom {
                        margin: -2px 0 0 -3px;
                        top: 50%;
                        width: 120%;

                        -moz-transform: rotate(40deg);
                        -webkit-transform: rotate(40deg);
                        -o-transform: rotate(40deg);
                        -ms-transform: rotate(40deg);;
                    }
                }
            }
        }
    }
}