
html, body {
    color: #333;
    position: relative;
    background: #2F333F;
    font-family: 'Avenir next', sans-serif;
    font-weight: 200;
    font-size: 16px;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

p {
    margin-top: 0.4rem;
}

a {
    text-decoration: none;
    color: #f25252;
    outline: none;
}

section {
    position: relative;
    overflow: hidden;

    .container {
        padding: 4rem 4rem 5rem 4rem;
        margin: 0 auto;
        max-width: 1000px;

        h2 {
            font-size: 2.2rem;
            line-height: 2rem;
            padding-bottom: 0;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
        }

        h3 {
            text-align: center;
            line-height: 2rem;
            font-size: 1rem;
            margin-bottom: 4rem;
            margin-top: 0;
        }

        h4 {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }

    }

    @media (max-width: 768px) {
        .container {
            padding: 10% 7%;

            h3 {
                margin-bottom: 10%;
            }
        }
    }

}